<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>장소저장</title>
</head>
<body>

<div class="hAddr">
    <span class="title">지도중심기준 행정동 주소정보</span>
    <span id="centerAddr"></span>
    <button id="moveToPlacePage" onclick="moveToPlacePage()">돌아가기</button>
</div>
<div id="map" style="width:50%;height:400px;"></div>
<div>
    <button id="nowLocation">현 위치 검색</button>
    <button id="addPlaceNewsBtn">신문추가</button>
    <!--<button id="saveNewPlaceBtn">저장</button>-->

    <form id="placeForm" action="/place/new" role="form" method="post">
        <button type="submit" id="saveNewPlaceBtn2">저장</button>
        <div>
            <div>
                <label for="xPoint">좌표</label>
                <input type="text" id="xPoint" name="xPoint">
                <input type="text" id="yPoint" name="yPoint">
            </div>
            <div>
                <label for="placeNm">주소(지번)</label>
                <input type="text" id="placeNm" name="placeNm" placeholder="주소(지번)">
            </div>
            <div>
                <label for="placeDesc">상세설명</label>
                <input type="text" id="placeDesc" name="placeDesc" placeholder="장소별명">
            </div>
            <div>
                <label for="deliveryOrder">순서</label>
                <input type="text" id="deliveryOrder" name="deliveryOrder" placeholder="순서">
            </div>
        </div>
        <div id="placeNewsDiv"></div>
    </form>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f3e6f198f96e991c281488985ab9f6f5&libraries=services"></script>
<script type="text/javascript" src="/js/geo.js"></script>
<script type="text/javascript">
    const addPlaceNewsBtn = document.getElementById("addPlaceNewsBtn")
    const placeNewsDiv = document.getElementById("placeNewsDiv")
    const saveNewPlaceBtn = document.getElementById("saveNewPlaceBtn")
    let placeNewsCnt = 0;
    let popupTargetId1;
    let popupTargetId2;

    /*ready*/
    document.addEventListener("DOMContentLoaded", function(){
        addPlaceNewsBtn.click();
    });

    /*Listeners*/
    // 저장 버튼
    // saveNewPlaceBtn.addEventListener('click', saveNewPlace);
    // 신문 추가 버튼
    addPlaceNewsBtn.addEventListener('click', addPlaceNews);

    /*Functions*/
    // 돌아가기
    function moveToPlacePage(){
        window.location.href = "/place/list";
    }
    // 팝업 정보 적용 함수
    function applyData(params){
        const rtnData = params.rtnData;
        const newsId = params.newsId;

        let popupTargetInput1 = document.getElementById(popupTargetId1);
        let popupTargetInput2 = document.getElementById(popupTargetId2);
        popupTargetInput1.value = rtnData;
        popupTargetInput2.value = newsId;
    }
    // 신문 목록 팝업 함수
    function openNewsList(originId) {
        const popupUrl = "/place/openNewsPopup";

        const width = 500;
        const height = 400;
        const left = (window.innerWidth - width) / 2;
        const top = (window.innerHeight - height) / 2;

        window.open(popupUrl, "_blank", "width=" + width + ",height=" + height + ",left=" + left + ", top=" + top);
    }
    // form data 저장 함수
    function saveNewPlace() {
        let placeForm = document.getElementById("placeForm");
        let placeFormData = new FormData(placeForm);
        let serializedPlaceFormData = serialize(placeFormData);
        let params;

        console.log(JSON.stringify(serializedPlaceFormData));
    }
    // form 데이터 가공해서 가져오기
    function serialize(rawData) {
        let rtnData = {};
        for (let [key, value] of rawData) {
            let sel = document.querySelectorAll("[name=" + key + "]");

            if (sel.length > 1) {
                if (rtnData[key] === undefined) {
                    rtnData[key] = [];
                }
                rtnData[key].push(value);
            } else {
                rtnData[key] = value;
            }
        }
        return rtnData;
    }
    // 신문 추가 함수
    function addPlaceNews() {
        const newDiv = document.createElement("div");

        const newNm = document.createElement("input");
        const newNmLabel = document.createElement("label");
        newNm.setAttribute('name', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsNm');
        newNm.setAttribute('id', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsNm');
        newNmLabel.innerText = "신문이름";
        newNmLabel.setAttribute('for', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsNm');

        const newDesc = document.createElement("input");
        const newDescLabel = document.createElement("label");
        newDesc.setAttribute('name', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsDesc');
        newDesc.setAttribute('id', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsDesc');
        newDescLabel.innerText = "상세내용";
        newDescLabel.setAttribute('for', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsDesc');

        const newCount = document.createElement("input");
        const newCountLabel = document.createElement("label");
        newCount.setAttribute('name', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsCount');
        newCount.setAttribute('id', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsCount');
        newCountLabel.innerText = "신문개수";
        newCountLabel.setAttribute('for', 'placeNewsDtoList['+placeNewsCnt+'].placeNewsCount');

        // 뉴스 id 담기
        const newsId = document.createElement("input");
        newsId.setAttribute('id', 'placeNewsDtoList['+placeNewsCnt+'].newsId');
        newsId.setAttribute('name', 'placeNewsDtoList['+placeNewsCnt+'].newsId');
        newsId.setAttribute('hidden', true);

        //추가 중 취소
        const cancelLabel = document.createElement("label");
        cancelLabel.innerText = "취소";

        newDiv.appendChild(newNmLabel).appendChild(newNm);
        newDiv.appendChild(newDescLabel).appendChild(newDesc);
        newDiv.appendChild(newCountLabel).appendChild(newCount);
        newDiv.appendChild(cancelLabel);
        newDiv.appendChild(newsId);

        cancelLabel.addEventListener("click", function(){newDiv.remove()});
        newNm.addEventListener("click", function(){
            openNewsList();
            popupTargetId1 = newNm.getAttribute('id');
            popupTargetId2 = newsId.getAttribute('id');
        });

        placeNewsDiv.prepend(newDiv);
        placeNewsCnt++;
    }
</script>
</body>
</html>