<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>신문팝업</title>
</head>
<body>

<div>
    <button id="addNewspaperBtn">신문추가</button>
    <div th:object="${newspaperList}">
        <div th:each="newspaper: ${newspaperList}">
            <p th:id="${newspaper.id}" th:text="${newspaper.newspaperNm}"></p>
        </div>
    </div>
</div>


<script type="text/javascript">
    const pTags = document.getElementsByTagName('p');
    const parentWindow = window.opener;

    for (let i = 0; i < pTags.length; i++) {
        pTags[i].addEventListener("click", function(){
           const rtnData = this.innerHTML;

            if (confirm(rtnData + "을 선택하시겠습니까?")) {
                parentWindow.applyData(rtnData);
                window.close();
            }
        });
    }
</script>
</body>
</html>