<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>신문팝업</title>
</head>
<body>

<div>
    <button id="addNewsBtn">신문추가</button>
    <div th:object="${newsList}">
        <div th:each="news: ${newsList}">
            <p th:id="${news.id}" th:text="${news.newsNm}"></p>
        </div>
    </div>
</div>


<script type="text/javascript">
    const pTags = document.getElementsByTagName('p');
    const parentWindow = window.opener;

    for (let i = 0; i < pTags.length; i++) {
        pTags[i].addEventListener("click", function(){
            let params = {};
            params.rtnData = this.innerHTML;
            params.newsId = this.id;

            if (confirm(params.rtnData + "을 선택하시겠습니까?")) {
                parentWindow.applyData(params);
                window.close();
            }
        });
    }
</script>
</body>
</html>