<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>장소저장</title>
</head>
<body>

<div class="hAddr">
    <span class="title">지도중심기준 행정동 주소정보</span>
    <span id="centerAddr"></span>
</div>
<div id="map" style="width:500px;height:400px;"></div>

<div>
    <button id="nowLocation">현 위치 검색</button>
    <form action="" role="form" method="post" th:object="${placeFormDto}">
        <div>
            <label th:for="xPoint">좌표</label>
            <input type="text" th:field="*{xPoint}">
            <input type="text" th:field="*{yPoint}">
        </div>
        <div>
            <label th:for="placeNm">주소(지번)</label>
            <input type="text" th:field="*{placeNm}" placeholder="주소는 필수 값입니다.">
            <p th:if="${#fields.hasErrors('placeNm')}" th:errors="*{placeNm}">Incorrect Data</p>
        </div>
        <div>
            <label th:for="placeDesc">장소별명</label>
            <input type="text" th:field="*{placeDesc}" placeholder="장소별명">
            <p th:if="${#fields.hasErrors('placeDesc')}" th:errors="*{placeDesc}">Incorrect Data</p>
        </div>
        <div>
            <label th:for="deliveryOrder">순서</label>
            <input type="text" th:field="*{deliveryOrder}" placeholder="순서">
            <p th:if="${#fields.hasErrors('deliveryOrder')}" th:errors="*{deliveryOrder}">Incorrect Data</p>
        </div>
        <div th:object="${newspaperFormDto}">
            <label th:for="newspaperNm">신문이름</label>
            <input type="text" th:field="*{newspaperNm}">
            <label th:for="newspaperDesc">특징</label>
            <input type="text" th:field="*{newspaperDesc}">
            <label th:for="count">갯수</label>
            <input type="text" th:field="*{count}">
        </div>
    </form>
    <button id="addNewspaperBtn">신문추가</button>
    <div id="newspaperDiv"></div>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f3e6f198f96e991c281488985ab9f6f5&libraries=services"></script>
<script type="text/javascript" src="/js/geo.js"></script>
<script type="text/javascript">
    const addNewspaperBtn = document.getElementById("addNewspaperBtn")
    const newspaperDiv = document.getElementById("newspaperDiv")

    /*Listeners*/
    // 신문 추가 버튼
    addNewspaperBtn.addEventListener("click", addNewspaper);

    /*Functions*/

    // 신문 추가 함수
    function addNewspaper() {
        const newDiv = document.createElement("div");

        const newNm = document.createElement("input");
        const newNmLabel = document.createElement("label");
        const newNmText = document.createTextNode("신문이름");

        const newDesc = document.createElement("input");
        const newDescLabel = document.createElement("label");
        const newDescText = document.createTextNode("상세");

        const newCount = document.createElement("input");
        const newCountLabel = document.createElement("label");
        const newCountText = document.createTextNode("개수");

        //추가 중 취소
        const cancelLabel = document.createElement("label");
        const cancelText = document.createTextNode("cancel");


        newNmLabel.appendChild(newNmText);
        newDescLabel.appendChild(newDescText);
        newCountLabel.appendChild(newCountText);
        cancelLabel.appendChild(cancelText);

        newDiv.appendChild(newNmLabel).appendChild(newNm);
        newDiv.appendChild(newDescLabel).appendChild(newDesc);
        newDiv.appendChild(newCountLabel).appendChild(newCount);
        newDiv.appendChild(cancelLabel);

        cancelLabel.addEventListener("click", function(){newDiv.remove()});

        newspaperDiv.prepend(newDiv);
    }
</script>
</body>
</html>