<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>place</title>
</head>
<body>

<div>
    <li>1. 지도 클릭하면 입력창에 해당 좌표 나오게 하기</li>
    <li>2. 현 위치 버튼 클릭하면 현재 위치 입력창에 찍히도록 하기</li>
</div>

<div id="map" style="width:500px;height:400px;"></div>

<div>
    <form action="" role="form" method="post" th:object="${placeFormDto}">
        <div>
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}" placeholder="주소는 필수 값입니다.">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Incorrect Data</p>
        </div>
        <div>
            <label th:for="placeNm">장소명</label>
            <input type="text" th:field="*{placeNm}" placeholder="장소명을 입력해주세요.">
            <p th:if="${#fields.hasErrors('placeNm')}" th:errors="*{placeNm}">Incorrect Data</p>
        </div>
        <div>
            <label th:for="placeDesc">장소 설명</label>
            <input type="text" th:field="*{placeDesc}" placeholder="장소에 대한 설명란입니다.">
            <p th:if="${#fields.hasErrors('placeDesc')}" th:errors="*{placeDesc}">Incorrect Data</p>
        </div>
        <div>
            <label th:for="orderNum">장소 순번</label>
            <input type="text" th:field="*{orderNum}" placeholder="장소에 대한 순서를 기록해주세요.">
            <p th:if="${#fields.hasErrors('orderNum')}" th:errors="*{orderNum}">Incorrect Data</p>
        </div>
    </form>

</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f3e6f198f96e991c281488985ab9f6f5"></script>
<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(36.3376482, 127.3933957), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
</script>

</body>
</html>